ale-py==0.8.1
AutoROM==0.4.2
AutoROM.accept-rom-license==0.6.1
box2d-py==2.3.5
certifi
charset-normalizer
click
cloudpickle
cramjam
cvxopt
diskcache
Farama-Notifications==0.0.4
fastparquet
fsspec
gym==0.26.2
gym-minigrid==1.2.2
gymnasium~=1.2.0
hf-xet==1.1.5
huggingface-hub
idna
importlib_metadata
importlib_resources
iniconfig
jax
jaxlib
llvmlite
matplotlib==3.10.3
minigrid==3.0.0
ml_dtypes
munkres==1.1.4
numba
numpy>=1.26  # allow JAX + torch compatibility
opencv-python~=4.12.0.88
opt_einsum
orjson
pandas
pishield==1.0.0
pluggy
pyarrow
pygame~=2.6.1
Pygments
pytest
pytz
pyvers
requests
scipy>=1.11.0  # compatible with Python 3.11 and newer numpy
shapely
Shimmy
swig
sympy
tensordict
torch==2.5.1
torchrl==0.9.2
torchvision==0.20.1
tqdm
typing_extensions
tzdata
urllib3
zipp
zstandard

optuna~=4.4.0
pyyaml~=6.0.2