not y_6 or not y_1
not y_6 or not y_2
not y_6 or not y_3
not y_6 or not y_4
not y_6 or not y_5
not y_6 or y_0
not y_7 or not y_1
not y_7 or not y_4
not y_7 or not y_5
not y_8 or y_2 or y_3
not y_8 or not y_0
not y_8 or not y_1
not y_8 or not y_4
not y_8 or not y_5