y_2 or not y_7
not y_7 or not y_0
not y_7 or not y_1
not y_7 or not y_3
not y_7 or not y_4
not y_7 or not y_5
not y_7 or not y_6
y_2 or not y_8
not y_8 or not y_0
not y_8 or not y_1
not y_8 or not y_3
not y_8 or not y_4
not y_8 or not y_5
not y_8 or not y_6
not y_7 or not y_8