y_2 or y_6 or y_7 or y_10 or y_14 or y_15 or not y_18
not y_0 or not y_18
not y_1 or not y_18
not y_3 or not y_18
not y_4 or not y_18
not y_5 or not y_18
not y_8 or not y_18
not y_9 or not y_18
not y_11 or not y_18
not y_12 or not y_18
not y_13 or not y_18
not y_16 or not y_18
not y_17 or not y_18